@model dynamic

<div class="row mt-4">
    <statcard title="Товары" value="@Model.TotalProducts" color="primary" url="/Home/Products" linktext="Управление" />
    <statcard title="Заказы" value="@Model.TotalOrders" color="success" url="/admin/dashboard/stats" linktext="Подробнее" />
    <statcard title="Выручка" value="@Model.TotalRevenue.ToString("N0") ₽" color="info" url="/admin/dashboard/stats" linktext="Статистика" />
    <statcard title="Пользователи" value="@Model.ActiveUsers" color="warning" linktext="Активных" />
</div>