@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <h2>О компании SOTCOMM</h2>
            <p>Ваш проводник в виртуальный мир</p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5>Наша миссия</h5>
                <p>Мы создаем лучший игровой опыт для наших клиентов, предлагая широкий выбор игр, консолей и аксессуаров по доступным ценам.</p>
                
                <h5 class="mt-4">Почему выбирают нас?</h5>
                <ul>
                    <li>Работаем для Вас с 1999 года.</li>
                    <li>У нас ты можешь дешево купить любую игровую консоль</li>
                    <li>ОБМЕН и ПРОКАТ дисков для любой игровой приставки , всегда в наличии более 3000 дисков.</li>
                    <li>ТРЕНДОВЫЕ ТОВАРЫ - по самым низким ценам в России </li>
                </ul>
                
                <h5 class="mt-4">Наши преимущества</h5>
                <p>Мы гарантируем качество каждого товара и предлагаем лучшие цены на рынке.</p>
            </div>
        </div>
    </div>
</div>